.entry-list {
  margin-block-end: var(--gap);
}

.entry-list__title {
  font-size: 20px;
  margin-block-end: 10px;
}

.entry-list__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.entry-list__item-wrapper {
  position: relative;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: 20px;
  padding: 5px 7px;
  transition: border-color 0.3s ease;
  overflow: hidden;
}

.entry-list__item-wrapper:hover {
  --icon-btn-position: 4px;

  border-color: var(--color-primary);
}

.entry-list__link {
  position: absolute;
  inset: 0;
  background: none;
  border: none;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.entry-list__name {
  flex: 1 1 auto;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.entry-list__icon-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  min-width: 24px;
  min-height: 24px;
  line-height: 1;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: 50%;
  color: var(--color-text-muted);
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .entry-list__icon-btn {
    position: static;
    transform: none;
  }
}

.entry-list__icon-btn--remove {
  right: var(--icon-btn-position, -30px);
}

.entry-list__icon-btn--remove:hover {
  border-color: var(--color-error);
  color: var(--color-error);
}

.entry-list__icon-btn--favorite {
  left: var(--icon-btn-position, -30px);
}

.entry-list__icon-btn--favorite:hover {
  border-color: var(--color-favorite);
  color: var(--color-favorite);
}